{% set image_user = app.user.image ? app.user.image.path : 'images/users/default.png' %}
{% block aside %}
    <!-- Left side column. contains the sidebar -->
    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="{{ asset(image_user) }}" class="user-image" alt="User image" />
                </div>
                <div class="pull-left info">    
                    <p>{{ app.user.profile ? app.user.profile.nome : app.user.username }}</p>
                </div>
            </div>

            <!-- search form -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                        </span>
                </div>
            </form>
            <!-- /.search form -->

            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">MENU</li>

                <!-- each menu option -->
                <li class="treeview">
                    <a href="{{path("dashboard")}}">
                        <i class="fa fa-dashboard"></i> <span>Dashboard</span> <i class="pull-right"></i>
                    </a>
                </li>

            </ul>

        </section>
        <!-- /.sidebar -->
    </aside>
{%endblock%}