{% block form_config %}
    <table id="layout-skins-list" class="table table-striped bring-up nth-2-center">
        <thead>
          <tr>
            <th></th>
            <th>Temas disponíveis</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="#" data-skin="skin-blue" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i></a></td>
            <td>blue</td>
          </tr>
          <tr>
            <td><a href="#" data-skin="skin-blue-light" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i></a></td>
            <td>blue-light</td>
          </tr>
          <tr>
            <td><a href="#" data-skin="skin-yellow" class="btn btn-warning btn-xs"><i class="fa fa-eye"></i></a></td>
            <td>yellow</td>
          </tr>
          <tr>
            <td><a href="#" data-skin="skin-yellow-light" class="btn btn-warning btn-xs"><i class="fa fa-eye"></i></a></td>
            <td>yellow-light</td>
          </tr>
          <tr>
            <td><a href="#" data-skin="skin-green" class="btn btn-success btn-xs"><i class="fa fa-eye"></i></a></td>
            <td>green</td>
          </tr>
          <tr>
            <td><a href="#" data-skin="skin-green-light" class="btn btn-success btn-xs"><i class="fa fa-eye"></i></a></td>
            <td>green-light</td>
          </tr>
          <tr>
            <td><a href="#" data-skin="skin-purple" class="btn bg-purple btn-xs"><i class="fa fa-eye"></i></a></td>
            <td>purple</td>
          </tr>
          <tr>
            <td><a href="#" data-skin="skin-purple-light" class="btn bg-purple btn-xs"><i class="fa fa-eye"></i></a></td>
            <td>purple-light</td>
          </tr>
          <tr>
            <td><a href="#" data-skin="skin-red" class="btn btn-danger btn-xs"><i class="fa fa-eye"></i></a></td>
            <td>red</td>
          </tr>
          <tr>
            <td><a href="#" data-skin="skin-red-light" class="btn btn-danger btn-xs"><i class="fa fa-eye"></i></a></td>
            <td>red-light</td>
          </tr>
          <tr>
            <td><a href="#" data-skin="skin-black" class="btn bg-black btn-xs"><i class="fa fa-eye"></i></a></td>
            <td>black</td>
          </tr>
          <tr>
            <td><a href="#" data-skin="skin-black-light" class="btn bg-black btn-xs"><i class="fa fa-eye"></i></a></td>
            <td>black-light</td>
          </tr>
        </tbody>
    </table>
{% endblock %}